@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



<div class="row">
    <div class="col-sm-4">
      

        <div class="card card-default">
            <div class="card-header">Header</div>
            <div class="card-body card-5-7">
                <div class="card-left">
                    <i class="fas fa-sitemap fa-w-14 fa-8x"></i> <!-- this icon's 1) style prefix == fas and 2) icon name == igloo -->
                </div>
                <div class="card-right">
                    <p>Lista Roles</p>
                    <p>Criar Roles</p>
                    <p>Editar Roles</p>
                    <p>Remover Roles</p>
                </div>
            </div>
            <div class="card-footer" style="display: flex;    justify-content: center;">

                <input type="button" style="vertical-align:central" value="Opções de Serviço" class="btn btn-primary" onclick="location.href='@Url.Action("ListServicesRequest", "Manage")" />
            </div>
        </div>

    </div>

</div>
