@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<div class="jumbotron">

    <div class="descricao">
        <h1>Bem-vindo!</h1>
        <p class="lead">Plataforma de auxilio para quem procura as melhores opções para os seus filhos.</p>

        <h2>Crie uma Conta!</h2>
        <ul>
            <li>@Html.ActionLink("Criar Conta", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        </ul>
    </div>
    <div class="logo">

        <img class="logoIMG" src="~/Content/residual.png" />
    </div>
</div>