@model ResidualCenter.Models.ServiceType

@{
    ViewBag.Title = "Delete";
}
<br />
<br />
<h2>Remover Tipo de Serviço</h2>

<br />
<br />
<br />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Remover" class="btn btn-default" />
                    </div>
                </div>

            }
        </dd>
    </dl>

   
</div>

<div class="control-label col-md-2">
    @Html.ActionLink("Voltar", "ListServiceType")
</div>

