@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "DeleteRole";
}

<h2>Deletar Role</h2>
<table style="width:400px" class="table table-bordered">

    <thead class="thead-dark">

        <tr>
            <th style="display:none;" scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>

    <tr>
        <td align="center" style="display:none;"> @Html.DisplayFor(model => model.Id)</td>

        <td align="center">
            @Html.DisplayFor(model => model.Name)
        </td>
        <td align="center">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" class="btn btn-danger" value="Delete" />

                </div>
            }
        </td>
    </tr>



</table>
@Html.ActionLink("Voltar", "ListRole")