
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<h2>Bem Vindo: @ViewBag.userName</h2>

<br />
<br />
<br />



<div class="row">

    <div class="col-sm-4">
        <div class="card card-default">
            <div class="card-header" style="display: flex;background-color:darkslateblue;color:aliceblue; justify-content: center;">Pedir Serviço</div>
            <div class="card-body card-5-7">
                <div class="card" style="display: flex; justify-content: center;">
                    <i class="fas fa-recycle fa-w-14 fa-8x"></i>
                </div>

            </div>
            <div class="card-footer" style="display: flex; justify-content: center;">

                <input type="button" style="background-color:darkslateblue" value="Pedir" class="btn btn-primary" onclick="location.href='@Url.Action("RequestServices", "Client")';" />
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>


    <div class="col-sm-4">
        <div class="card card-default">
            <div class="card-header" style="display: flex;background-color:darkslateblue;color:aliceblue; justify-content: center;">Meus Pedidos</div>
            <div class="card-body card-5-7">
                <div class="card" style="display: flex; justify-content: center;">
                    <i class="fas fa-list-ul fa-w-14 fa-8x"></i>
                </div>

            </div>
            <div class="card-footer" style="display: flex; justify-content: center;">

                <input type="button" style="background-color:darkslateblue" value="Pedidos" class="btn btn-primary" onclick="location.href='@Url.Action("ListRequestedServices", "Client")';" />
            </div>
        </div>
    </div>

</div>

