@model IEnumerable<ResidualCenter.Models.ServiceRequest>
@{
    ViewBag.Title = "CloseServices";
}
 <br />
<br />
<h2>Fechar Serviços</h2>

<br />
<br />
<br />


<div class="container">

    @{
        foreach (var item in Model)
        {

            @Html.Partial("_listRequestProgress", item)


        }
    }
</div>

<div class="control-label col-md-2">
    @Html.ActionLink("Voltar", "Index")
</div>

